<%= form_with url: sessions_path, local: true do |f| %>
  <% if flash[:alert] %>
    <%= content_tag :p, flash[:alert], class: 'alert flash' %>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="form-group">
    <%= f.submit 'Signin' %>
  </div>
<% end %>
