<%= render 'shared/errors', object: @badge %>
<%= form_with model: [:admin, badge], local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :img_name %>
    <%= f.text_field :img_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rule %>
    <%= f.select :rule,
      BadgesService::ALL_BADGES_RULES.map { |k,v| [v,k]}, selected: @badge.rule%>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
