<h1>Pass the  <%= @test_passage.test.title %> test</h1>

<b><%= @test_passage.current_question.body %></b>

<%= form_with url: test_passage_path(@test_passage), method: :put, local: true do |f| %>
  <div class="form-group">
    <%= f.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
      <br>
    <% end %>
    <div class="form-group">
      <%= f.submit 'Next' %>
    </div>
  </div>
<% end %>
