<nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-between px-5">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <div class="navbar-nav">
    <% if current_user.try(:admin?) %>
      <%= link_to t('navbar.admin-panel'), admin_tests_path, class: "nav-link" %>
      <%= link_to t('navbar.gists'), admin_gists_path, class: "nav-link" %>
      <%= link_to t('feedback.link'), feedback_path, class: "nav-link" %>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <div class='nav-item btn-group'>
    <b class="btn btn-outline-secondary"><%= current_user.email %></b>
    <%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-danger nav-link' %>
  </div>
  <% end %>
</nav>
