<%= form_with(model: [:admin, @question, @answer], local: true) do |f| %>
  <%= render 'shared/errors', object: @answer %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, id: :answer_body, rows: 7, cols: 80, class: 'form-control' %>

    <%= f.check_box :correct, id: :answer_correct %>
    <%= f.label :correct %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
