<%= form_with model: [:admin, test], local: true do |f| %>
  <%= render 'shared/errors', object: test %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :level %>
    <%= f.number_field :level %>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :title %>
  </div>
  <% if test.new_record? %>
    <%= f.hidden_field :author_id %>
  <% else %>
    <div class="form-group">
      <%= f.label :author %>
      <%= f.collection_select :author_id, User.all, :id, :email %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
