<div class="card p-3 my-5">
  <%= form_with model: [:admin, test], local: true do |f| %>
  <%= render 'shared/errors', object: test %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :level %>
    <%= f.number_field :level, class: "form-control" %>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :title, prompt: true, class: "form-control" %>
    <% unless test.new_record? %>
    <%= f.label :author %>
    <%= f.collection_select :author_id, User.all, :id, :email, class: "form-control" %>
    <% end %>
    <br>
    <%= f.submit class: "btn btn-success" %>
    <%= link_to t('links.back'),admin_tests_path, class: "btn btn-secondary" %>
  </div>
  <% end %>
</div>
