<h1><%= t('.head') %></h1>
<%= link_to t('.create'), new_admin_test_path, class: "btn btn-primary m-2" %>

<%= render 'shared/errors', object: @test %>

<table class="table table-hover">
  <thead>
    <th class="sort-by-title pointer">
      <%= t('.table.name') %>
      <%= octicon 'arrow-up', class: "text-success hide" %>
      <%= octicon 'arrow-down', class: "text-success hide" %>
    </th>
    <th class="text-center"><%= t('.table.level') %></th>
    <th class="text-center"><%= t('.table.questions') %></th>
    <th class="text-center" colspan="3"><%= t('.table.actions') %></th>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
