<h1><%= t('.header') %></h1>
<%= link_to t('.create'), new_admin_test_path %>
<table>
  <thead>
    <th><%= t('.table.name') %></th>
    <th><%= t('.table.level') %></th>
    <th><%= t('.table.questions') %></th>
    <th colspan="3"><%= t('.table.actions') %></th>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
