<h1>Тест: <%= @test.title %></h1>
<div class="links">
  <%= link_to 'Назад',admin_tests_path %>
  <%= link_to 'Редактировать', edit_admin_test_path(@test) %>
  <%= link_to 'Удалить', admin_test_path(@test), method: :delete %>
</div>
<p>Категория: <%= @test.category.title %></p>
<p>Уровень: <%= @test.level %></p>
<h2>Вопросы к тесту</h2>
<%= link_to 'Добавть', new_test_question_path(@test) %>
<table>
  <thead>
    <th>Текст вопроса</th>
    <th colspan="3">Действия</th>
  </thead>
  <tbody>
      <%= render partial: 'questions/question', collection: @test.questions %>
  </tbody>
</table>
