<div class="col col-sm-12 col-lg-3 col-md-4 mb-3">
  <div class="test-card card">
    <div class="card-header">
      <h3><%= test.title %></h3>
    </div>
    <div class="card-body">
      <p>
        <%= t('.level', level: test.level) %>
      </p>
      <% unless test.category.nil? %>
        <p>
          <%= t('.category', title: test.category.title) %>
        </p>
      <% end %>
      <p>
        <%= t('.questions', count: test.questions.count) %>
      </p>
    </div>
    <div class="card-footer actions">
      <%= button_to t('links.start'), start_test_path(test), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
