<h1>Тест: <%= @test.title %></h1>
<div class="links">
  <%= link_to 'Назад', tests_path %>
  <%= link_to 'Редактировать', edit_test_path(@test) %>
  <%= link_to 'Удалить', test_path(@test), method: :delete %>
</div>
<p>Категория: <%= @test.category.title %></p>
<p>Уровень: <%= @test.level %></p>
<h2>Вопросы к тесту</h2>
<%= link_to 'Добавть', new_test_question_path(@test) %>
<table>
  <thead>
    <th>Текст вопроса</th>
    <th colspan="3">Действия</th>
  </thead>
  <tbody>
      <%= render @test.questions %>
  </tbody>
</table>
